[submodule "waybar-mechabar/.config/waybar-mechabar"]
	path = waybar-mechabar/.config/waybar-mechabar
	url = https://github.com/sejjy/mechabar.git
[submodule "waybar-mechabar/.config/waybar"]
	path = waybar-mechabar/.config/waybar
	url = https://github.com/sejjy/mechabar.git
	branch = fix/v0.14.0
